<ion-card>
  <ion-img src="assets/img/image-3.png"></ion-img>
     <ion-card-header>
    <ion-card-title style="color: red;font-family: Agency FB;"> BIG NEW YORKER BACON & BANANA PEPPERS</ion-card-title>
    
  </ion-card-header>

  <ion-card-content>
    Es una pizza de gran tamaño, inspirada al estilo new york con rebanadas grandes, de pepperoni y trocitos de bacon, con abundantes rebanadas de chile banana peppers de sabor suave con toque acido, con una mezcla de aregano y queso parmesano sobre los ingredientes y mantequilla de ajo a la orilla.
  </ion-card-content> <hr>


  <ion-item lines="none">
    <ion-grid>
      <ion-card-subtitle style="font-family: Agency FB;">
        DESDE: <span style="color: red;">   
          LPS 329.00</span>
      </ion-card-subtitle>
      <ion-row class="vertical-center">
        <ion-col size="auto" class="ion-align-self-center">
          <ion-card-subtitle style="font-family: Agency FB ; ">CANTIDAD:</ion-card-subtitle>
        </ion-col>
        <ion-col size="auto" class="ion-align-self-center">
          <ion-button color="dark" (click)="decrement()"shape="round" >
            <ion-icon slot="icon-only"  size = "small" [icon]="remove"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col size="auto" class="ion-align-self-center ion-text-center">
          {{ cantidad }}
        </ion-col>
        <ion-col size="auto" class="ion-align-self-center">
          <ion-button (click)="increment()"  color="dark" shape="round">
            <ion-icon slot="icon-only"  size = "small" [icon]="iconAdd"></ion-icon></ion-button>
        </ion-col>
       
        <ion-col class="ion-align-self-center">
          <ion-button size="small" color="success" (click)="OrderAlert()" style="--color: white;">Ordenar</ion-button>


        </ion-col>
    
      </ion-row>
    </ion-grid>
  </ion-item>
</ion-card>